/*
Framework: Epsilon 1.0.1
Author: Enabled
Author URL: http://paultrifa.com
Description: Custom Mobile Framwork Available Exclusively on ThemeForest and in Enabled/CosminCotor developer projects!
Version: 1.0.130204
License: You MAY NOT resell / include in personal or commercial projects.
License Restrictions: You are not allowed to remove these comments, or take credit for this framework!
*/

.content{
	margin-left:20px;
	margin-right:20px;
}

.container{	
	margin-bottom:20px;
}

body{
	background-image:url(../images/background/body-bg.png);
	-webkit-font-smoothing: antialiased;
}


/*//////////////////////////////////////////////////////////////*/
/*---Framework CSS Images And Editable Styles - Epsilon v1.0----*/
/*//////////////////////////////////////////////////////////////*/


h1 > a						{	color:#333333; 		font-family: 'Dosis', sans-serif;		}
h2 > a						{	color:#333333; 		font-family: 'Dosis', sans-serif;		}
h3 > a						{	color:#333333; 		font-family: 'Dosis', sans-serif;		}
h4 > a						{	color:#333333;		font-family: 'Dosis', sans-serif;		}
h5 > a						{	color:#333333; 		font-family: 'Dosis', sans-serif;		}
h6 > a						{	color:#333333; 		font-family: 'Dosis', sans-serif;		}
h1, h2, h3, h4, h5, h6			{	color:#3b4043; 		font-family: 'Dosis', sans-serif;		}
span						{	color:#333333;		font-family: 'Open Sans', sans-serif;	}
body						{	color:#9a9a9a;		font-family: 'Open Sans', sans-serif;	}
input						{						font-family: 'Open Sans', sans-serif;}
li, ul						{	color:#9a9a9a;		}
a							{	color:#e34e47;		}
em							{	color:#9a9a9a;		}
blockquote					{	color:#9a9a9a!important;}
.filtrable-caption			{	color:#9a9a9a;}
.portfolio-tem-full-width a	{	color:#9a9a9a;}
.portfolio-item-thumb a		{	color:#9a9a9a;}
.dropcaps					{	color:#333333;}
.field-title				{	color:#333333;}

/*////////////////////////////////*/
/*----Background Color Styles-----*/
/*////////////////////////////////*/
.icon{			background-color:#4c585e;										}
.bg-orange{		background-color:#e34e47;			color:#FFFFFF!important;	}
.bg-yellow{		background-color:#ffd100;			color:inherit;				}
.bg-green{		background-color:#518900;			color:#FFFFFF!important;	}
.bg-gray{		background-color:#424242;			color:#FFFFFF!important;	}
.bg-light-gray{	background-color:rgba(0,0,0,0.1); 	color:#333333!important;	}
.bg-dark-gray{	background-color:rgba(0,0,0,0.7);	color:#FFFFFF!important;	}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Page Divider---------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

.decoration{
	margin-bottom:20px;
	height:1px;
	display:block;
	background-color:rgba(0,0,0,0.15);
}	

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*-----------------------------Portfolio Styles-----------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

/*Filtrable Styles*/

.filtrable-caption{
	font-size:10px!important;
	padding-bottom:5px;
	padding-top:5px;
	margin-bottom:0px!important;
	text-align:center;
	background-color:#3c3c3c;
	text-transform:uppercase;
}

/*Fullwidth portfolio Styles*/

.portfolio-item-full-width a{
	background-color:#FFFFFF;
	padding:5px;
	border:solid 1px #cacaca;
	font-size:10px;
	text-align:center;
	line-height:18px;
	text-transform:uppercase;
	margin-bottom:10px;
}

/*Thumbnail Portfolio Styles*/

.portfolio-item-thumb a{
	background-color:#FFFFFF;
	padding:5px;
	border:solid 1px #cacaca;
	text-align:center;
	font-size:10px;
	line-height:18px;
	margin-bottom:10px;
	text-transform:uppercase;
}

/*///////////////////////////*/
/*-------Speach Bubble------*/
/*///////////////////////////*/


.speach-left{	background-color:#FFFFFF;	border:solid 1px #cacaca;}
.speach-right{	background-color:#FFFFFF;	border:solid 1px #cacaca;}

.speach-left-title{		color:#000000;	text-shadow:0px 1px 0px #FFFFFF;}
.speach-right-title{	color:#000000;	text-shadow:0px 1px 0px #FFFFFF;}
