@charset "utf-8";
/* CSS Document */


/*//////////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------Shadow Icons------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/
.icon-arrow-up{			background-image:url(../images/icon/arrows/bendedup.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}

.icon-user2{			background-image:url(../images/icon/user/user2.png);   			background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}

















